* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Roboto, 'sans-serif';
}

body {
    background-color: #EBEBEB;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 100px;
    display: -webkit-flex;
    display: flex;
    background-color: #fff159;
    border: 0;
    width: 1512px;
    position: relative;
}


.nav-logo {
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.5/mercadolibre/logo__large_plus.png);
    height: 34px;
    width: 134px;
    display: flex;
    position: static;
    left: 0;
    top: 0;
}


.posición-logo {
    margin-left: 166px;
    margin-top: 11px;
}

.font-style {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #000;
}

.dropdown-font-style {
    font-family: Roboto, sans-serif;
    width: 63px;
    font-size: 13px;
    color: #333333;
}

.icon::after {
    content: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1_16' fill='white'%3E%3Cpath d='M4.54688 0.757355L8.78952 5L4.54688 9.24265L0.304229 5L4.54688 0.757355Z'/%3E%3C/mask%3E%3Cpath d='M4.54688 9.24265L3.48621 10.3033L4.54688 11.364L5.60754 10.3033L4.54688 9.24265ZM7.72886 3.93934L3.48621 8.18199L5.60754 10.3033L9.85018 6.06066L7.72886 3.93934ZM5.60754 8.18199L1.36489 3.93934L-0.756431 6.06066L3.48621 10.3033L5.60754 8.18199Z' fill='black' fill-opacity='0.3' mask='url(%23path-1-inside-1_1_16)'/%3E%3C/svg%3E");
    margin-left: 5px;
}


.domicilio {
    margin-left: 187px;
    margin-top: 24px;
    margin-bottom: 11.5px;
    width: 119.65px;
    height: 20px;
    gap: 45.35px;
}

.categorias {
    margin-left: 16.76px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    width: 78.55px;
    height: 22px;
}

.nav-offer-offer {
    margin-left: 16.76px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 45.39px;
    height: 20px;
}

.img1-general-styles {
    width: 1512px;
    height: 340px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.img1-container-styles {
    position: absolute;
    width: 60px;
    height: 6px;
    margin-top: 318px;
    margin-left: 726px;
    display: flex;
}

.posicion-img {
    width: 1512px;
    height: 340px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.buttons {
    width: 6px;
    height: 6px;
    margin-left: 2px;
    border-radius: 3px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 0px 1px #ffffff;
}

.nav-crear {
    margin-left: 170.27px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 253.25px;
    height: 20px;
}

.nav-ayuda {
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 77.95px;
    height: 20px;
}

.nav-venta {
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 44.73px;
    height: 20px;
}

.nav-moda {
    margin-left: 23.64px;
    margin-top: 22px;
    margin-bottom: 11px;
    width: 34.97px;
    height: 20px;
}

.nav-supermercado {
    margin-left: 17.8px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    width: 85px;
    height: 22px;
}

.nav-historial {
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 50.26px;
    height: 20px;
}

.nav-ofertas {
    margin-left: 16.76px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 45.39px;
    height: 20px;
}

.tamano {
    position: relative;
    font-size: 15px;
    margin: 0;
    border-radius: 2px;
    background-color: #fff;
    height: 39px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    font-family: Roboto, sans-serif;
}

.tamano-style {
    margin-left: 67px;
    margin-top: 8px;
    width: 598px;
}

.card {
    width: 1184px;
    height: 90px;
    margin-top: 380px;
    margin-left: 164px;
    border-radius: 4px;
    background-color: white;
    display: flex;
}

.card-degrade {
    width: 1180px;
    height: 87px;
    margin-top: 57px;
    margin-left: 166px;
    border-radius: 4px;
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
    display: flex;
    justify-content: space-between;


}

.oval {
    Width: 47px;
    Height: 47px;
    margin-top: 20.5px;
    margin-Left: 20.5px;
    margin-bottom: 22.5px;
}

.transfer {
    Width: 48px;
    Height: 48px;
    margin-top: 20.5px;
    margin-Left: 115.66px;
    margin-bottom: 22.5px;
}

.payment {
    Width: 48px;
    Height: 48px;
    margin-top: 20.5px;
    margin-Left: 16.66px;
    margin-bottom: 22.5px;
}

.view-more {
    Width: 48px;
    Height: 48px;
    margin-top: 20.5px;
    margin-Left: 116.66px;
    margin-bottom: 22.5px;
}

.rectangle-path {
    Width: 24px;
    Height: 16px;
    margin-top: 36px;
    margin-Left: 32px;
}

.card-text {
    Width: 124px;
    Height: 20px;
    margin-top: 24px;
    margin-left: 16px;
}

.card-text-transfer {
    Width: 237px;
    Height: 20px;
    margin-top: 24px;
    margin-left: 16px;
}

.card-text-payment {
    Width: 127px;
    Height: 20px;
    margin-top: 24px;
    margin-left: 16px;
}

.card-text-view {
    Width: 160px;
    Height: 20px;
    margin-top: 24px;
    margin-left: 16px;
}

.card-text-blue {
    Width: 125px;
    Height: 20px;
    margin-top: 3px;
    margin-left: 16.38px;
}

.ver-todos {
    Width: 64px;
    Height: 20px;
    margin-top: 60px;
    margin-left: 16px;
}

.font-card {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 19.92px;
    color: #000;
}

.font-card-blue {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.23px;
    color: #3483FA;
}

.font-ver-todos {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19.2px;
    color: #3483FA;
}

.posicion-susbribete {
    width: 245px;
    height: 38px;
    margin-top: 24.5px;
    margin-left: 24px;
    margin-bottom: 24.5px;
}

.font-suscribete {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;

}

.ofertas {
    width: 82px;
    height: 32px;
    margin-top: 50px;
    margin-left: 164px;
}

.font-ofertas {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 31.2px;
    color: #666666;
}

.div-card {
    display: flex;
    flex-direction: column;
}

.div-ofertas {
    display: flex;
}

.ofertas-img {
    display: flex;
    gap: 16px;
}

.supermercado-img {
    display: flex;
    gap: 16px;
    margin-left: 16px;

}

.supermercado-img1 {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    margin-left: 16px;
}

.card-img {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.tamano-img {
    width: 224px;
    height: 350px;
    margin-left: 164px;
    margin-top: 21.19px;
    background-color: #fff;
}

.tamano-img1 {
    width: 224px;
    height: 350px;
    margin-top: 21.19px;
    margin-left: 16px;
    background-color: #fff;
}

.font-ofertas {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #333333;
}

.font-descuento {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00A650;
}

.border {
    border-bottom: 1px solid #999999;
}

.border2 {
    border-right: 2px solid #FFFFFF;
    margin-left: 766.11px;
    margin-top: 23.5px;
    margin-bottom: 26.5px;

}


.div-envio1 {
    margin-left: 16px;
    margin-top: 5px;

}

.font-envio {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #00A650;
    line-height: 16px;
    font-weight: bold;

}

.posicion-tachado {
    margin-top: 23.5px;
    margin-left: 0px;
}

.posicion-normal {
    margin-top: 0px;
    margin-left: 0px;

}

.font-normal-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 22px;
    font-style: Medium;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: bold;
}

.font-tachado {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: Medium;
    text-decoration: line-through;
    color: #FFFFFF;
    line-height: 14px;
    font-weight: bold;
}

.card-sub-degrade {
    width: 1180px;
    height: 250px;
    margin-top: 0px;
    margin-left: 166px;
    border-radius: 4px;
    background-color: white;
    border-bottom: 1px solid #999999;

}

.div-ofertas-texto {
    margin-left: 16px;
    margin-top: 19px;
}

.posicion-text1 {
    margin-top: 20px;
    margin-left: 24px;
}

.posicion-disney {
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
}

.posicion-star {
    margin-top: 30px;
    margin-left: 169.33px;
    display: flex;
}

.posicion-camion {
    margin-top: 30px;
    margin-left: 187.33px;
    display: flex;
}

.font-span1 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    line-height: 18px;
}

.posicion-texto-disney {
    margin-left: 16px;
    margin-top: 30px;
}

.posicion-texto-camnion {
    width: 240px;
    height: 48px;
    margin-top: 13px;
    margin-left: 17px;
    text-align: left;
}

.font-texto-disney {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 16px;
    vertical-align: center;
}

.font-texto-camion {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 16px;
    vertical-align: center;

}

.div-linea {
    display: flex;
    border-bottom: 0.5px solid #999999;
    padding-bottom: 20px;

}

.posicion-button-azul {
    margin-left: 1010px;
    margin-top: 17px;

}

.mercado-puntos {
    height: 32px;
    width: 350px;
    margin-left: 164px;
    margin-top: 80px;
    border-radius: nullpx;
}

.font-mercado-puntos {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #666666;
    line-height: 31.2px;
}

.ver-todos-beneficios {
    width: 161px;
    height: 10px;
    margin-left: 5px;
    margin-top: 90px;
}

.font-ver-todos-beneficios {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3483FA;
    line-height: 19.2px;
}

.posicion-imagen1 {
    margin-left: 164px;
    margin-top: 21.19px;
}

.posicion-imagenes {
    margin-left: 16px;
    margin-top: 25px;
}

.posicion-imagenes1 {
    margin-left: 16px;
    margin-top: 21px;
    display: flex;
    gap: 16px;
}

.posicion-texto-imagen1 {
    margin-top: -84px;
    margin-left: 112px;
    position: absolute;
}

.posicion-texto2-imagen1 {
    margin-top: -60px;
    margin-left: 112px;
    position: absolute;
}

.posicion-texto2-imagen3 {
    margin-top: -95px;
    margin-left: 112px;
    position: absolute;
}

.posicion-texto1-imagen3 {
    margin-top: -70px;
    margin-left: 112px;
    position: absolute;
}

.posicion-texto3-imagen3 {
    margin-top: -45px;
    margin-left: 112px;
    position: absolute;
}

.posicion-descubre {
    height: 37px;
    width: 109.5px;
    margin-left: 164px;
    margin-top: 93px;
    border-radius: nullpx;
}

.font-descubre {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
    color: #666666;
}

.posicion-imagen1-1 {
    margin-top: -100px;
    margin-left: 16px;
    position: absolute;
}

.font-texto3-imagen3 {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
}

.font-texto-imagen1 {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}

.posicion-renueva {
    margin-left: 32px;
    margin-top: 57.7px;
    width: 300px;
    height: 12px;
}

.posicion-nivel6 {
    margin-left: 32px;
    margin-top: 57.7px;
    width: 350px;
    height: 12px;
}

.font-renueva {
    font-family: Rotobo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: #4B4B4B;
    letter-spacing: 4px;
}
.font-descubre1{
    font-family: Rotobo, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.06px;
    color: #4B4B4B;
    letter-spacing: 4px;
}
.posicion-descubre1{
    margin-left: 25px;
    margin-top: 20px;
}
.font-supermercado1{
    font-family: Rotobo, sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.8px;
    color: #4B4B4B;
    margin-left: 25px;
}
.font-hogar {
    font-family: Rotobo, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 30.8px;
    color: #4B4B4B;
}

.posicion-imagen1-descubre {
    margin-left: 319px;
    margin-top: -70px;
}

.div-descubre {
    height: 250px;
    width: 584px;
    margin-left: 164px;
    margin-top: 19.19px;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.las-mejores {
    margin-top: 54.81px;
    margin-left: 164px;
}

.ver-tiendas {
    margin-top: 65px;
    margin-left: 25.45px;
}

.font-ver-tiendas {
    font-family: Rotobo, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 19.2px;
    color: #3483FA;
}

.font-las-mejores {
    font-family: Rotobo, sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 31.2px;
    color: #666666;
}

.div-tienda1 {
    width: 284px;
    height: 340px;
    margin-left: 164px;
    margin-top: 21.19px;
    background-color: #FFFFFF;
}

.div-xiaomi-oster {
    width: 284px;
    height: 340px;

    margin-top: 21.19px;
    background-color: #FFFFFF;
}

.posicion-colecciones {
    margin-left: 164px;
    margin-top: 108.81px;
}

.font-colecciones {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    color: #666666;
}

.font-supermercado {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    color: #666666;
    font-weight: bold;
}

.posicion-img2-supermercado {

    display: flex;
    flex-direction: column;
    margin-left: 0px;
    

}

.posicion-lego {
    margin-left: 102px;
    margin-top: -45px;
    position: absolute;
}

.posicion-text-lego {
    margin-top: 56px;
    margin-left: 116px;
}

.font-text-lego {
    font-family: Rotobo, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 28.13px;
    color: #333333;
}

.posicion-moto {
    margin-left: 32px;
    margin-top: 20px;
}

.font-ver-tienda {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    color: #999999;

}

.posicion-ver-tienda {
    margin-left: 80px;
    margin-top: 22px;
}

.div-descubre1 {
    height: 250px;
    width: 584px;
    margin-left: 16px;
    margin-top: 19.19px;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.posicion-imagen-supermercado {
    margin-left: 156px;
    margin-top: 24.19px;
    display: flex;
   }

.div-supermercado {
    background-color: #FFFFFF;
    height: 99px;
    width: 383px;
}

.tamano-img-supermercado {
    width: 383px;
    height: 281px;
}

.font-texto2-imagen1 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.button-azul {
    height: 48px;
    width: 140px;
    font-weight: 600;
    size: 15px;
    background-color: #3483FA;
    font-family: Rotobo, sans-serif;
    border: 0;
    line-height: 48px;
    border-radius: 6px;
}

.button-azul-1 {
    height: 36px;
    width: 96px;
    font-weight: 600;
    size: 15px;
    background-color: #3483FA;
    font-family: Rotobo, sans-serif;
    border: 0;
    line-height: 36px;
    border-radius: 2px;
    margin-top: 13px;
}


.items {
    display: flex;
    gap: 17.8px;
}