* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Roboto, 'sans-serif';
}

nav{
    height: 100px;
    display: -webkit-flex;
    display: flex;
    background-color: #fff159;
    border: 0;
    width: 1512px;
    position: relative;
}

.nav-logo{
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.22.5/mercadolibre/logo__large_plus.png);
    height: 34px;
    width: 134px;
    display: flex;
    position: static;
    left: 0;
    top: 0;
}


.posición-logo{
    margin-left: 166px;
    margin-top: 11px;
}

.font-style{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #000;
}
.dropdown-font-style{
    font-family: Roboto, sans-serif;
    width: 63px;
    font-size: 13px;
    color: #333333;
}
.icon::after{
    content: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_1_16' fill='white'%3E%3Cpath d='M4.54688 0.757355L8.78952 5L4.54688 9.24265L0.304229 5L4.54688 0.757355Z'/%3E%3C/mask%3E%3Cpath d='M4.54688 9.24265L3.48621 10.3033L4.54688 11.364L5.60754 10.3033L4.54688 9.24265ZM7.72886 3.93934L3.48621 8.18199L5.60754 10.3033L9.85018 6.06066L7.72886 3.93934ZM5.60754 8.18199L1.36489 3.93934L-0.756431 6.06066L3.48621 10.3033L5.60754 8.18199Z' fill='black' fill-opacity='0.3' mask='url(%23path-1-inside-1_1_16)'/%3E%3C/svg%3E");
    margin-left: 5px;
}


.domicilio{
    margin-left: 187px;
    margin-top: 24px;
    margin-bottom: 11.5px;
    width: 119.65px;
    height: 20px;
}
.categorias{
    margin-left: 16.76px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    width: 78.55px;
    height: 22px;
}
.nav-offer-offer {
    margin-left: 16.76px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 45.39px;
    height: 20px;
}
.img1-general-styles {
    width: 1512px;
    height: 340px;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
.img1-container-styles {
    position:absolute;
    width: 60px;
    height: 6px;
    margin-top: 318px;
    margin-left: 726px;
}
.button-img1-style {
    width: 6px;
    height: 6px;
    margin-left: 2px;
    border-radius: 3px;
    margin-top:0px;
    background: rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 0px 1px #ffffff;
}
.nav-crear {
    margin-left: 170.27px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 253.25px;
    height: 20px;
}
.nav-ayuda {
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 77.95px;
    height: 20px;
}
.nav-venta {
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 44.73px;
    height: 20px;
}
.nav-moda {
    margin-left: 23.64px;
    margin-top: 22px;
    margin-bottom: 11px;
    width: 34.97px;
    height: 20px;
}
.nav-supermercado {
    margin-left: 17.8px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    width: 85px;
    height: 22px;
}
.nav-historial{
    margin-left: 17.8px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 50.26px;
    height: 20px;
}
.nav-ofertas {
    margin-left: 16.76px;
    margin-top: 22px;
    margin-bottom: 11.5px;
    width: 45.39px;
    height: 20px;
}
.tamano{
    position: relative;
    font-size: 15px;
    margin: 0;
    border-radius: 2px;
    background-color: #fff;
    height: 39px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    font-family: Roboto, sans-serif;
}

.tamano-style{
    margin-left: 67px;
    margin-top: 8px;
    width: 598px;
}
.items{
    display: flex;
}


